*{
    margin: 0px;
    font-family: 'roboto mono';
}
a{
    font-weight: 600;
    color: inherit;
}
a:hover {
    color: lightskyblue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(250, 250, 250, 0.707);
}
div.form{
    height: 80vh;
    width: 25%;
}
.form-title{
    font-size: 200%;
    font-weight: 800;
    text-align: left;
}
.desc{
    font-size: 100%;
    margin-top: 5%;
    color: grey;
    text-align: left;
}
div.field{
    width: 99%;
    margin-top: 20%;
    border: 3px solid;
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input.password{
    width: 60%;
    font-size: 110%;
    padding: 4% 0% 4% 3%;
    background: none;
    border: none;
    outline: none;
}
div.show-pass, div.gen-pass{
    font-size: 90%;
    font-weight: 700;
    color: grey;
    cursor: pointer;
    margin-right: 3%;
}
div.show-pass::selection, div.gen-pass::selection{
    background: none;
}


